body {
    background: url("image.png");
    background-size: cover; 
    background-attachment: fixed;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 50vh; /* Makes sure it covers the entire viewport */
    margin: 0;
}

/* Login Form */
.login-container {
    padding: 20px;
    padding-top:  50px; ;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 400px;
    width: 400px;
    margin-left: auto; 
    margin-right: 160px;
    margin-top: 80px;
    border-radius: 40px;
}

h1 {
    text-align: center;
}

label {
    display: block; 
}

input {
    width: 90%;
    padding: 12px;
    border-radius: 25px;
    margin: 0px;
    font-size: 1rem;
}

#submit {
    width: 96%;
    padding: 9px;
}
a {
    text-align: center;
}
.links {
    text-align: center;
}

button {
    display: block;
    width: 96%;
    padding: 12px;
    background:linear-gradient(45deg, #1a73e8, #9c27b0);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

button:hover {
    background: linear-gradient(45deg, #9c27b0, #1a73e8);
}