body {
    background: url(background.png);
    background-size: cover; 
    background-attachment: fixed;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 50vh; /* Makes sure it covers the entire viewport */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px; /* Adjust the width of the container */
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add some shadow for a subtle effect */
    border-radius: 10px;
    margin-right: auto; 
    margin-left: 160px;
    
}

.choice-container {
    text-align: center;
    color: white;
}

button {
    margin: 20px;
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: linear-gradient(45deg, #9c27b0, #1a73e8);
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #1a73e8, #9c27b0);
}
